body {
   background-color: deepskyblue;
   background-image: url('icy-blue-abstract-patterns-4.jpg');
   padding: 0;
   height: 90%;
}

h1 {
   height: 10%;;
   font-family: 'Londrina Sketch', serif;     
   color: aliceblue;
   font-size: 4.3em;
   font-weight: 500, bold;
   text-align: center;
   margin: 35px auto 1%;
}

h2 {
   font-size: 10vmin;
   opacity: .95;
   font-family: 'Londrina Solid', cursive;
   color:darkblue;
   text-align: center;
   object-position: center;
   text-shadow: 3px 2px rgba(218,112,150, .6);
   top: 30%;
   position: fixed;
}

h3,
h4 {
   font-family: 'Fugaz One', cursive;
   font-size: 20px;
   font-weight: 100;
   color: aliceblue;
   position: absolute;
   margin: 0;
   top: 2%;
   transition: font-size .7s;
}

h4 {
   right: 3%;
}

h3 {
   left: 3%;
}
h3:hover,
h4:hover {
   font-size: 30px;
}

input {
   background: #eee;
   border-radius: 5px;
   font-size: 28px;
   width: 200px;
   display: block;
   margin: 3% auto;
   font-family: 'Londrina Sketch', serif;  
   color: darkgrey;
}

table {
   width: 70vmin;
   height: 70vmin;
   margin: auto;
   padding: 0;
   border-collapse: separate;
}

td {
   box-sizing: border-box;
   border-radius: 5px;
   background-color: white;
   margin: 0;
   background-image: url(http://www.transparenttextures.com/patterns/skulls.png);
}

.hidden {
   width: 24%;
   height: 24%;
   background-color: #dfdfdf;
}

#A1,
#B3,
#C4,
#D2 {
   background-position: top;
}

#A2,
#C3 {
   background-position: bottom;
}

#B4,
#D1 {
   background-position: center;
}

#A4,
#B1,
#C2,
#D3 {
   background-position: right;
}
.hidden img {
   display: none;
}

td img {
   padding: 5%;
   max-height: 80%;
   max-width: 80%;
   display: table-cell;
   margin: auto;
}